---
layout: default
title: Page Title
pillars:
 - title: Mind
   icon: /images/burger-icon.png
   description: Unlocking the power of the mind through breathwork, human performance protocols, NLP, Clinical Hypnosis, Positive Psychology & Meditation to cultivate awareness, resilience, focus, and a thriving mindset.
   pillar_image: /images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-22.jpg
 - title: Body
   icon: /images/burger-icon.png
   description: Building a solid foundation of physical health to support the body’s vitality and create space for the mind and soul to flourish through movement, nutrition, and restorative practices.
   pillar_image: /images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-22.jpg
 - title: Energy
   icon: /images/burger-icon.png
   description: Harnessing movement, sleep, breathwork, meditation & recovery to optimize energy, elevate emotional and spiritual health, and sustain peak performance.
   pillar_image: /images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-22.jpg

seo:
 meta-description: 
 keywords:
 social_image:
 twitter_description:
 type: website
 hide-from-google: false
banner_image: /images/rob-rea-uk-breathwork-holistic-wellness-retreats-34.jpg
banner_image-2: /images/rob-rea-uk-breathwork-breath-awareness-practices-43.jpg
---

<!-- Example banner section -->
<section class="bg-cover bg-center svh relative" style="background-image: url('{{page.banner_image}}');">
  <div class="absolute inset-0 bg-black bg-opacity-30"></div>
  <div class="relative flex flex-col justify-end items-center h-full px-6 pb-20">

    <!-- Logo (Top Left) -->
    <div class="absolute top-6 left-6">
      <a href="/"><img src="{{site.data.site-settings.brand.primary_logo_path}}" alt="" class="object-center object-contain lg:mx-auto h-12"></a>
    </div>

     <!-- Insert hamburger menu circle here -->


    <div class="lg:max-w-[85%] md:max-w-[90%]">
       <!-- eyebrow heading -->
      <h3 class="text-light md:title-lg title-md lg:pl-64 md:pl-36 md:mb-8 mb-4">{ &nbsp;&nbsp; breathe easy &nbsp;&nbsp; }</h3>
      <!-- Main Heading -->
      <h1 class="text-light lg:text-7xl md:text-5xl title-xl leading-[1.2] block md:inline-block">
        <span class="lg:pl-64 md:pl-36 mb-6">Embark on a Holistic </span>journey with Rob Rea.
        <span class="block md:inline-block text-sm max-w-xs pt-2">
          A Human Potential Coach and Breathwork Practitioner, internationally trained with extensive experience across EMEA and APAC.
        </span>
      </h1>


  </div>
</section>



<!-- Text and Image section -->
<section class="grid md:grid-cols-2 grid-cols-1 md:gap-10 md:p-8 p-6">


  <div class="lg:w-[80%] md:w-full mx-auto text-center flex items-center justify-center editable">
    <div class="md:px-6 px-0">
      <h3 class="title-md text-dark md:mb-14 mb-6">{ &nbsp;&nbsp; subtitle &nbsp;&nbsp; }</h3>
      <h2 class="title-lg mb-8">Rob uses a range of techniques to unlock potential and change in his clients</h2>
      <p>Renowned for his expertise in delivering somatic programs, Rob has gained global recognition for creating transformative experiences that resonate across a wide range of demographics, helping individuals unlock their full potential through breathwork and holistic practices.
      </p>

      <div class="flex flex-col sm:flex-row gap-4 justify-center items-center w-auto mx-auto mt-10 mb-8">
        <a href="#" class="button bg-secondary text-bright font-serif text-xs rounded-xl">shop courses</a>
        <a href="#" class="button bg-bright text-secondary hover:bg-secondary hover:text-bright font-serif text-xs rounded-xl">work with rob</a>
      </div>
    </div>
  </div>

  <div>
    <img src="/images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-24.jpg" alt="" class="lg:h-[100vh] h-70 w-full object-cover object-center editable">
  </div>
</section>


<!--  Banner image -->
<section class="bg-cover bg-center min-h-80" style="background-image: url('{{page.banner_image-2}}');">
</section>


<!-- Press Slider -->
{% include /sliders/press-slider.html %}


<!-- Text and Image/text section -->
<section class="grid md:grid-cols-2 grid-cols-1 md:gap-10 border-solid border-t-[1px] border-b-[1px] border-[#AFBBA6]">


  <div class="w-full mx-auto flex items-end justify-start lg:border-r-[1px] lg:border-[#AFBBA6] editable">
    <div class="md:px-8 px-0 py-8 pb-12">
      <h3 class="title-md text-dark md:mb-14 mb-6">{ &nbsp;&nbsp; 1 to 1 coaching   &nbsp;&nbsp; }</h3>
      <h2 class="title-lg mb-8 lg:w-[70%] md:w-full">Work with Rob on a personalised journey, either in-person or online, to achieve sustainable and transformative results.</h2>
      <p>Rob’s 1:1 coaching is his premium offering, designed to adapt seamlessly to your lifestyle and commitments. By crafting a bespoke program tailored specifically to your goals,  Rob ensures a holistic approach that aligns with your personal and professional deadlines.
      </p>
      <a href="#" class="button bg-secondary text-bright font-serif text-xs rounded-xl mt-10">shop courses</a>

    </div>
  </div>

  <div class="pr-8 py-8 pb-12">
    <img src="/images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-23.jpg" alt="" class="h-70 w-full object-cover object-center editable">
    <p class="mt-8 mb-4">For added flexibility, Rob offers a hybrid approach, combining in-person sessions with the convenience of online coaching. This ensures consistent progress regardless of your schedule or location.</p>
    <p class="mb-4">With Rob’s expertise, you can expect a highly individualised and an outlook-driven experience, empowering you to unlock your full potential in a way that fits your life.</p>
  </div>
</section>

<section class="grid md:grid-cols-2 grid-cols-1 md:gap-10 border-solid border-b-[1px] border-[#AFBBA6]">

  <div class="px-8 py-8 pb-12 lg:border-r-[1px] lg:border-[#AFBBA6]">
    <img src="/images/rob-rea-uk-breathwork-breath-awareness-practices-45.jpg" alt="" class="lg:h-[95vh] h-70 w-full object-cover object-center editable">
  </div>

  <div class="w-full mx-auto flex items-end justify-start editable">
    <div class="md:px-8 px-0 py-8 pb-12">
      <h3 class="title-md text-dark md:mb-14 mb-6">{ &nbsp;&nbsp; courses   &nbsp;&nbsp; }</h3>
      <h2 class="title-lg mb-8 lg:w-[70%] md:w-full">Explore Rob’s pre-recorded courses & recordings and  so that you can experience him anytime, anywhere.</h2>


      <div class="flex items-center justify-between">
        <div>
          <h4 class="uppercase font-sans">Breathwork Fundamentals:</h4>
          <p>A course to help you get started on your breathwork journey or to keep you on your journey. Enjoy the recordings, embrace the stillness and see what comes up for you. </p>
        </div>
        <div>
          <a href="#" class="button bg-bright text-secondary font-serif text-xs rounded-xl mt-10">Explore</a>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <div>
          <h4 class="uppercase font-sans">Recordings:</h4>
          <p>A selection of audio only sessions for you to sit back and experience breathwork without having to think about it.</p>
        </div>
        <div>
          <a href="#" class="button bg-bright text-secondary font-serif text-xs rounded-xl mt-10">Explore</a>
        </div>
      </div>

    </div>
  </div>
</section>


<!-- Events Text and Image section -->
<section class="grid md:grid-cols-2 grid-cols-1 md:gap-10 bg-primary">


  <div class="lg:w-[80%] md:w-full mx-auto text-center flex items-center justify-center md:p-8 p-6 editable">
    <div class="md:px-6 px-0">
      <h3 class="title-md text-dark md:mb-14 mb-6">{ &nbsp;&nbsp; events &nbsp;&nbsp; }</h3>
      <h2 class="title-lg mb-8">Meet up with like-minded individuals who are ready to learn, share & create change. </h2>
      <p>These are the perfect opportunity to experience breathwork for the first time. Come either by yourself or with a friend to share an experience with a group of individuals who are there to grow and thrive. 
      </p>
      <a href="#" class="button bg-secondary text-bright font-serif text-xs rounded-xl mt-10">shop courses</a>

    </div>
  </div>

  <div>
    <img src="/images/rob-rea-uk-breathwork-beginners-teacher-anxiety-9.jpg" alt="" class="lg:h-[100vh] h-70 w-full object-cover object-center editable">
  </div>
</section>


<!-- Pillars introduction -->

<section class="grid grid-cols-1 md:grid-cols-3 gap-2 bg-light">

  {% for item in page.pillars %}
  <a class="relative flex flex-col items-center p-5">
    
    <!-- Image Container with heading and icon positioned inside -->
    <div class="w-full aspect-[3/4]  mb-4 flex justify-center items-center relative">
      <img src="{{item.pillar_image}}" alt="{{item.alt}}" class="object-cover w-full h-full">
      
      <!-- Heading and Icon Positioned at the Bottom of the Image -->
      <div class="absolute bottom-0 left-0 right-0 p-4 flex justify-between items-center space-x-2">
        <h3 class="uppercase text-white text-xl">{{item.title}}</h3>
        <img src="{{item.icon}}" alt="" class="h-8 w-8 object-cover">
      </div>
    </div>

    <!-- Description Paragraph Below the Image -->
    <p class="text-sm mb-4">{{item.description}}</p>
  </a>
  {% endfor %}

</section>




<!-- Image and Text About Story section -->
<section class="grid md:grid-cols-2 grid-cols-1 md:gap-10 md:p-8 p-6 bg-primary">

  <div>
    <img src="/images/rob-rea-uk-breathwork-pranayama-somatic-emotional-healing-24.jpg" alt="" class="lg:h-[100vh] h-70 w-full object-cover object-center editable">
  </div>

  <div class="lg:w-[80%] md:w-full mx-auto text-center flex items-center justify-center editable">
    <div class="md:px-6 px-0">
      <h3 class="title-md text-dark md:mb-14 mb-6">{ &nbsp;&nbsp; rob’s story  &nbsp;&nbsp; }</h3>
      <h2 class="title-lg mb-8">“..life is better when you breathe easy…”</h2>
      <p class="mb-4">“I’ve not yet met someone in my life who couldn’t benefit from integrating breathwork into their life in some form. One thing I have noticed is that Leaders in Business, Elite Sportspersons and high-performing artists are making this a priority in their day and lifestyle.
      </p>
      <p class="mb-4">More recently I’ve become a father and having the knowledge to implement efficient protocols to move better, breathe better and live better has been invaluable. As it’s helped me , now I want to help you.”
      </p>

      <div class="flex flex-col sm:flex-row gap-4 justify-center items-center w-auto mx-auto mt-10 mb-8">
        <a href="#" class="button bg-secondary text-bright font-serif text-xs rounded-xl">meet rob</a>
        <a href="#" class="button bg-bright text-secondary hover:bg-secondary hover:text-bright font-serif text-xs rounded-xl">work with rob</a>
      </div>
    </div>
  </div>

 
</section>